* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    
    background-color: #1e123d;
    color: #fff;

    &--list {
        list-style-type: none;
        padding: 1rem 2rem;
        display: flex;
        align-items: center;
    }

    &--item {
        display: inline-block;

        &:nth-child(2) {
            margin-left: 2rem;
        }
    }

    &--img {
        border-radius: 50%;
    }

    &--link {
        text-decoration: none;
        color: currentColor;
    }
}